<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loop</title>
    <style>
        table th, table td {padding: 15px;}
        .row  {
            font-style: initial;
        }
    </style>
</head>
<body>
<h1>Garage</h1>
<table border="5">
    <tr>
        <th>Model</th>
        <th>Series</th>
        <th>Price</th>
    </tr>
    <tr th:each="msg : ${car}">
        <td th:utext="${msg.getModel()}"></td>
        <td th:utext="${msg.getSeries()}"></td>
        <td th:utext="${msg.getPrice()}"></td>
    </tr>
</table>
</body>
</html>
<!--    <title></title>-->
<!--</head>-->
<!--<body>-->
<!--<div>-->
<!--    <th:block th:each="msg : ${car}">-->
<!--        <h1 th:text="${msg}"></h1>-->
<!--    </th:block>-->
<!--</div>-->
<!--<a href="/">back</a>-->
<!--</body>-->
<!--</html>-->